
.notification {
    animation-name: push-animation;
    animation-duration: 5s;
    animation-fill-mode: forwards; /* Сохранение конечного состояния анимации */

    @apply fixed top-4 right-[50%] cursor-pointer overflow-hidden;
}

.content {
    @apply text-secondary-500 p-4 rounded-md;
}

.green {
    @apply bg-green-200 border-green-400 border-solid border-[1px];
}

.red {
    @apply bg-red-200 border-red-400 border-solid border-[1px];
}

@keyframes push-animation {
    0% {
        transform: translate(50%, -100px);
    }
    15% {
        transform: translate(50%, 0px);
    }
    75% {
        transform: translate(50%, 0px);
    }
    100% {
        transform: translate(50%, 0px);
    }
}