@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply m-0;
}

.App {
  @apply bg-background dark:bg-dark-background flex flex-col min-h-screen gap-8;
}

.container {
  @apply max-w-[85vw] mx-auto;
}


/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #323232;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #666;
}
